
<h2 class="mod-ttl">誰の通院記録をしますか？</h2>

<div class="form-group mod-select">
  <label for="sel1">選択してください</label>
  <select class="form-control" id="sel1">
    <option>太郎</option>
    <option>花小</option>
    <option>次郎</option>
    <option>小太郎</option>
  </select>
</div>
