// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user {
  .form-control {
    margin-right: 15px;
    &#user_name {
      width: 40%;
    }
  }
  .btn-register {
    text-align: right;
  }
}

.wrp-family-lists {
  margin-top: 80px;
  border-top: 1px solid #e8e8e8;
}